:root {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

#creatable-container {
  align-items: center;
  border: solid rgba(0, 0, 0, 0.25) 1px;
  border-radius: 4px;
  display: flex;
  padding: 5px;
  width: 95%;
}

#creatable-container .close-icon {
  cursor: pointer;
  margin-left: 2px;
  padding: 0 2px;
}

#creatable-container .label {
  border: solid rgba(0, 0, 0, 0.25) 1px;
  padding: 0 5px;
  margin: 0 2px;
}

#creatable-input {
  border: none;
  outline: none;
  width: 100%;
}
